- current_user.groups.each do |group|
  = link_to group_messages_path(group), class:"wrapper__chat-side__groups__link", id:"" do
    .wrapper__chat-side__groups__link__group
      %p.wrapper__chat-side__groups__link__group__name
      = group.name
      %p.wrapper__chat-side__groups__link__group__latest-message
      = group.show_last_message
