%h2.wrapper__chat-main__message__messages
 %ul.wrapper__chat-main__message__messages__upper-info
  %li.wrapper__chat-main__message__messages__upper-info__talker
   投稿者
  %li.wrapper__chat-main__message__messages__upper-info__date
   2019/10/10(Tue) 10:10:10
 %ul.wrapper__chat-main__message__messages__text
  テストテストテスト
%h2.wrapper__chat-main__message__messages
 %ul.wrapper__chat-main__message__messages__upper-info
  %li.wrapper__chat-main__message__messages__upper-info__talker
   投稿者
  %li.wrapper__chat-main__message__messages__upper-info__date
   2019/10/10(Tue) 10:10:10
 %ul.wrapper__chat-main__message__messages__text
  テストテストテスト