/.wrapper__chat-main__form
  /%form.wrapper__chat-main__form__new-message
   /%input{name: "utf8", type: "hidden", value: "✓"}/
   /%input{name: "authenticity_token", type: "hidden", value: "nY4oQNSsAk3YgLIXJmM2YLux9cYvdvWOpUZ6tYHR/sveU/MuIwV6RsJY3skqznWHGGxbAEVdX57fWFfQRPfCDQ=="}/
    /.wrapper__chat-main__form__new-message__input-box
     /%input.wrapper__chat-main__form__new-message__input-box__text{name: "message[content]", placeholder: "type a message", type: "text"}/
     /%label.wrapper__chat-main__form__new-message__input-box__image{:for => "upload-icon"}
      /%i.fa.fa-image
      /%input.wrapper__chat-main__form__new-message__input-box__image__file{name: "message[image]", type: "file", id:"upload-icon"}/
    /%input.wrapper__chat-main__form__new-message__submit-btn{"data-disable-with": "Send", name: "commit", type: "submit", value: "Send"}









-#     .header
-#  グループを作成しました
-# .flash-box
-# .wrapper
-#  = render 'shared/side_bar'
-#  .wrapper__chat-main
-#   .wrapper__chat-main__main-header
-#    .wrapper__chat-main__main-header__edit-btn
-#     = link_to "Edit","https://www.facebook.com/"
-#    .wrapper__chat-main__main-header__left-box
-#     %h2.wrapper__chat-main__main-header__left-box__current-group
-#      グループ名
-#     %ul.wrapper__chat-main__main-header__left-box__member-list
-#      メンバー一覧
-#      %ul.wrapper__chat-main__main-header__left-box__member-list__member
-#       aaa iii uuu
-#   .wrapper__chat-main__message
-#    =render partial: "messages/texts"
-#   .wrapper__form
-#    = form_for [@group, @message] do |f|
-#     = f.text_field :content, class: 'form__message', placeholder: 'type a message'
-#      .wrapper__form__mask
-#       = f.label :image, class: 'form__mask__image' do
-#        = fa_icon 'picture-o', class: 'icon'
-#        = f.file_field :image, class: 'hidden'
-#     = f.submit 'Send', class: 'form__submit'











 /%h2.wrapper__chat-main__message__messages
    @messages.each do |message| 
     /%ul.wrapper__chat-main__message__messages__upper-info
       /%li.wrapper__chat-main__message__messages__upper-info__talker
       /message.user
      /%li.wrapper__chat-main__message__messages__upper-info__date
       /message.created.at.striftime2019/10/10(Tue) 10:10:10
     /%ul.wrapper__chat-main__message__messages__text
      /message.content








 /.message
  /.upper-message
    /.upper-message__user-name
      /= message.user.name
    /.upper-message__date
      /= message.created_at.strftime("%Y/%m/%d %H:%M")
  /.lower-message
    /- if message.content.present?
      /%p.lower-message__content
        /= message.content
    /= image_tag message.image.url, class: 'lower-message__image' if message.image.present?






     -# %h2.wrapper__chat-main__message__messages
  -#    %ul.wrapper__chat-main__message__messages__upper-info
  -#      %li.wrapper__chat-main__message__messages__upper-info__talker
  -#      投稿者
  -#     %li.wrapper__chat-main__message__messages__upper-info__date
  -#      2019/10/10(Tue) 10:10:10
  -#    %ul.wrapper__chat-main__message__messages__text
  -#     テストテストテスト
